.overlay {
  height: 18rem;
  clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
}

.card {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.75rem;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 2rem;
  width: 60%;
  z-index: 10;
}

span {
  padding: 0.6rem 1.5rem;
  line-height: 1.5;
  box-decoration-break: clone;
  background-image: linear-gradient(
    to bottom right,
    rgba(125, 213, 111, 0.85),
    rgba(40, 180, 135, 0.85)
  );
  color: whitesmoke;
}

.summary {
  font-family: 'Baloo Tammudu 2', cursive;
  font-style: italic;
  font-size: 1.1rem;
}

.upper {
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: whitesmoke;
  border: transparent;
}
