.header {
  height: 38vw;
  clip-path: polygon( 0 0, 100% 0, 100% 83%, 0 100% );
  position: relative;
  z-index: 2;
}

.img {
  position: relative;
  top: -15%;
}

.header-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-45%, -100%);
  z-index: 12;
} 

.title {
  text-align: center;
  z-index: 15;
}

h1 {
  padding: 0.6rem 1.5rem;
  font-size: 2rem;
  line-height: 1.5;
  box-decoration-break: clone;
  background-image: linear-gradient(
    to bottom right,
    rgba(125, 213, 111, 0.85),
    rgba(40, 180, 135, 0.85)
  );
  color: whitesmoke;
  border-radius: 4px;
}

.bold {
  font-weight: bolder;
}

.description {
  height: 90vh;
  margin-top: -7% !important;
  background-color: royalblue;
}

.description-right {
  background-color: white;
  margin: 0;
}
.description-left {
  margin: 0;
  background-color: #f7f7f7;
}

.description-left-content {
  margin: 0;
  margin-top: 15%;
}

.description-right-content {
  margin: 0;
  margin-top: calc(15% + 3rem);
}

h3 {
  text-transform: uppercase;
  font-weight: bolder;
  color: transparent;
  background-image: linear-gradient(
    to bottom right,
    rgba(125, 213, 111, 0.85),
    rgba(40, 180, 135, 0.85)
  );
  background-clip: text;
  text-align: center;
}

.label {
  text-transform: uppercase;
  font-weight: bolder;
}

.description-left-value {
  text-transform: capitalize;
}

.paragraph {
  line-height: 1.6rem;
}